@use "./global/variables.scss" as *; /* Переменные */

.application-form__group {
  padding: 0 $mobile-side-indent;
  margin: 0;
  border: none;

  @media (min-width: $tablet-width) {
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
  }
}

.application-form__title {
  position: relative;
  padding: 0;
  margin-bottom: 35px;
  width: 100%;
  font-family: $accent-font;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: $black-text;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 76px;
  }
}

.application-form__title::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 16px;
  left: calc(50% - 50vw);
  width: 100vw;
  height: 2px;
  background-color: $accent;

  @media (min-width: $tablet-width) {
    top: 22px;
  }
}

.application-form__title span {
  display: inline-block;
  padding: 0 22px;
  margin-left: -22px;
  background-color: #ffffff;

  @media (min-width: $tablet-width) {
    padding: 0 37px;
    margin-left: -37px;
  }
}

.application-form__title br {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.application-form__container {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    width: 630px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
  }
}

.application-form__row {
  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.application-form__cat-data {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 14px;
  margin-bottom: 24px;

  @media (min-width: $tablet-width) {
    gap: 20px;
    margin-bottom: 72px;
  }

  @media (min-width: $desktop-width) {
    flex: 0 0 570px;
    margin-right: auto;
    margin-bottom: 69px;
  }
}

.application-form__program {
  display: grid;
  grid-template-columns: 1fr;
  gap: 13px;
  margin-bottom: 26px;
  margin-left: -21px;
  margin-right: -21px;
  padding: 22px 20px 18px;
  border: 1px solid $grey-line;

  @media (min-width: $tablet-width) {
    margin-right: 0;
    margin-bottom: 75px;
    margin-left: 0;
    padding: 25px 28px 23px;
  }

  @media (min-width: $desktop-width) {
    flex: 0 0 570px;
    margin-bottom: 69px;
  }
}

.application-form__contacts {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 14px;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    gap: 20px;
    margin-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    margin-bottom: 67px;
  }
}

.application-form__comment {
  width: 100%;
  margin-bottom: 24px;

  @media (min-width: $tablet-width) {
    margin-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    margin-bottom: 64px;
  }
}

.application-form__additional-products {
  display: grid;
  grid-template-columns: 1fr;
  gap: 12px;
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
    gap: 32px 60px;
    margin-top: -19px;
    margin-bottom: 53px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    gap: 32px 80px;
    margin-top: -17px;
    margin-bottom: 60px;
  }
}

.application-form__submit-wrapper {
  margin-bottom: 33px;
  padding: 0 $mobile-side-indent;
  text-align: center;

  @media (min-width: $tablet-width) {
    display: flex;
    margin-bottom: 72px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 82px;
  }
}

.application-form__submit {
  width: 100%;
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    width: 282px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
  }
}

.application-form__footnote {
  margin: 0;
  font-size: 14px;
  line-height: 16px;
  color: $black-text;

  @media (min-width: $tablet-width) {
    margin-left: 64px;
    margin-top: 15px;
    font-size: 16px;
    line-height: 16px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 80px;
  }
}
