@use "./global/variables.scss" as *; /* Переменные */

.comparison-slider {
  width: 280px;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: $tablet-width) {
    width: 592px;
  }
}

.comparison-slider__list {
  display: flex;
  margin: 0;
  margin-bottom: 15px;
  padding: 0;

  list-style-type: none;

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
  }
}

.comparison-slider__item {
  display: flex;
  position: relative;
  overflow: hidden;
  transition: width 0.5s ease-out;
}

@media (max-width: $only-mobile-width) {
  .comparison-slider__item {
    width: 0;
  }

  .comparison-slider__item--active {
    width: 100%;
  }
}

.comparison-slider__item--after {
  justify-content: end;
}

.comparison-slider__img-wrap {
  flex-shrink: 0;
  width: 280px;
  height: 232px;

  @media (min-width: $tablet-width) {
    width: 592px;
    height: 511px;
  }
}

.comparison-slider__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center bottom;
}

.comparison-slider__control {
  display: flex;
  justify-content: center;
  align-items: center;
}

.comparison-slider__button {
  position: relative;
  min-width: 49px;
  padding: 5px;
  font-family: $accent-font;
  font-size: 16px;
  line-height: 20px;
  color: $black-text;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    min-width: 70px;
    padding: 0 10px;
    font-size: 20px;
    line-height: 30px;
  }
}

.comparison-slider__button::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 5px;
  right: 5px;
  height: 0;
  border-bottom: 1px solid transparent;

  @media (min-width: $tablet-width) {
    left: 10px;
    right: 10px;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.24);
  }
}

.comparison-slider__button:hover::after {
  border-bottom: 1px solid rgba(0, 0, 0, 0.24);
}

.comparison-slider__button:active::after {
  border-color: transparent;
}

.comparison-slider__toggler {
  display: flex;
  align-items: center;
  padding: 0 5px;
  margin: 0 13px;
  width: 86px;
  height: 14px;
  background-color: #ffffff;
  border: 1px solid #cdcdcd;
  border-radius: 6px;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.comparison-slider__toggler--active {
  justify-content: end;
}

.comparison-slider__toggler::before {
  content: "";
  display: block;
  width: 36px;
  height: 6px;
  background-color: $accent;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.comparison-slider__scrollbar {
  position: relative;
  flex-grow: 1;
  height: 6px;
  margin-left: 13px;
  margin-right: 13px;
  background-color: #dcdcdc;
  border-radius: 6px;

  @media (max-width: $only-mobile-width) {
    display: none;
  }
}

.comparison-slider__scroller {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 34px;
  background-color: #ffffff;
  border: 1px solid #cdcdcd;
  border-radius: 50%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16);
  cursor: pointer;
  transition: box-shadow 0.2s ease-out, border-color 0.2s ease-out;

  &:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.19);
  }

  &:active {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    border-color: $accent;
  }
}

.comparison-slider__scroller::after {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  background-color: $accent;
  border-radius: 50%;
}
