@use "./global/variables.scss" as *; /* Переменные */

.home__page-header {
  @media (min-width: $tablet-width) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}

.home__promo {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 82px;
  }
}

.home__programs {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 44px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 71px;
  }
}

.home__about-product {
  margin-bottom: 49px;

  @media (min-width: $tablet-width) {
    margin-bottom: 42px;
    padding-bottom: 59px;
    border-bottom: 1px solid $light-line;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 0;
    margin-bottom: 40px;
    border-bottom: none;
  }
}
