@use "./global/variables.scss" as *; /* Переменные */

.additional-preview {
  padding: 12px 0 18px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 26px 38px 27px;
  }

  @media (min-width: $desktop-width) {
    padding: 15px 0 16px;
  }
}

.additional-preview__title {
  margin: 0;
  margin-bottom: 8px;
  font-family: $accent-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  a {
    color: $dark-text;
    text-decoration: none;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.additional-preview__list {
  display: grid;
  grid-template-columns: auto auto;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-left: auto;
    margin-right: 38px;
    margin-top: 6px;
    width: 288px;
  }
}

.additional-preview__list dd {
  margin: 0;
  text-align: right;

  @media (min-width: $tablet-width) {
    width: 82px;
    margin-left: 10px;
  }

  @media (min-width: $tablet-width) {
    width: auto;
  }
}

.additional-preview__button {
  margin-top: 13px;
  width: 100%;

  @media (min-width: $tablet-width) {
    margin-top: 18px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
    width: 244px;
  }
}
