@use "./global/variables.scss" as *; /* Переменные */

.additional-products__title {
  margin-bottom: 31px;

  @media (min-width: $tablet-width) {
    margin-bottom: 77px;
  }
}

.additional-products__container {
  padding: 0 $mobile-side-indent;
}

.additional-products__list {
  margin: 0;
  margin-bottom: 34px;
  padding: 0;
  border-top: 1px solid #cdcdcd;
  border-bottom: 1px solid #cdcdcd;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    border: 1px solid #cdcdcd;
    margin-bottom: 69px;
  }

  @media (min-width: $desktop-width) {
    width: 896px;
    margin-right: auto;
    margin-bottom: 0;
    border-right: none;
    border-left: none;
  }
}

.additional-products__item {
  border-bottom: 1px solid #cdcdcd;

  &:last-child {
    border: none;
  }
}

.additional-products__gift {
  position: relative;
  display: block;
  padding: 187px 40px 43px;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85));

  @media (min-width: $tablet-width) {
    padding: 70px 124px 70px 422px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    padding: 187px 40px 43px;
    text-align: center;
  }
}

.additional-products__gift::before {
  content: "";
  position: absolute;
  top: 59px;
  left: 50%;
  transform: translateX(-50%);
  width: 78px;
  height: 80px;
  background-image: url("../img/icons/gift.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  @media (min-width: $tablet-width) {
    top: 50%;
    transform: translateY(-50%);
    left: 77px;
  }

  @media (min-width: $desktop-width) {
    top: 59px;
    left: 50%;
    transform: translateX(-50%);
  }
}
