@use "./global/variables.scss" as *; /* Переменные */

.application-form__group {
  padding: 0;
  margin: 0;
  border: none;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
  }
}

.application-form__title {
  width: 100%;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    margin-bottom: 73px;
  }
}

.application-form__container {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    width: 630px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
  }
}

.application-form__cat-data {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 14px;
  margin-bottom: 24px;
  padding: 0 $mobile-side-indent;

  @media (min-width: $tablet-width) {
    gap: 20px;
    margin-bottom: 72px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    margin-right: auto;
    margin-bottom: 69px;
  }
}

.application-form__program {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 13px;
  margin-bottom: 28px;
  padding: 22px $mobile-side-indent 18px;
  border-top: 1px solid $grey-line;
  border-bottom: 1px solid $grey-line;

  @media (min-width: $tablet-width) {
    margin-right: 0;
    margin-bottom: 75px;
    margin-left: 0;
    padding: 25px 28px 23px;
    border: 1px solid $grey-line;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    margin-bottom: 69px;
  }
}

.application-form__contacts {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 14px;
  padding: 0 $mobile-side-indent;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    gap: 20px;
    margin-bottom: 65px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    margin-bottom: 67px;
  }
}

.application-form__comment {
  width: 100%;
  padding: 0 $mobile-side-indent;
  margin-bottom: 24px;

  @media (min-width: $tablet-width) {
    margin-bottom: 65px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.application-form__additional-products {
  display: grid;
  grid-template-columns: 1fr;
  gap: 12px;
  margin-bottom: 31px;
  padding: 0 $mobile-side-indent;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
    gap: 32px 60px;
    margin-top: -19px;
    margin-bottom: 53px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    gap: 32px 80px;
    margin-top: -17px;
    margin-bottom: 60px;
  }
}

.application-form__submit-wrapper {
  margin-bottom: 33px;
  padding: 0 $mobile-side-indent;
  text-align: center;

  @media (min-width: $tablet-width) {
    display: flex;
    margin-bottom: 72px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 82px;
  }
}

.application-form__submit {
  width: 100%;
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    width: 282px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
  }
}

.application-form__footnote {
  margin: 0;
  font-size: 14px;
  line-height: 16px;
  color: $black-text;

  @media (min-width: $tablet-width) {
    margin-left: 64px;
    margin-top: 15px;
    font-size: 16px;
    line-height: 16px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 80px;
  }
}
