@use "./global/variables.scss" as *; /* Переменные */

.application__page-header {
  margin-bottom: 27px;

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 20px;
  }
}

.application__main-header {
  margin-bottom: 39px;

  @media (min-width: $tablet-width) {
    margin-bottom: 67px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 65px;
  }
}
