@use "./global/variables.scss" as *; /* Переменные */

.application__page-header {
  margin-bottom: 27px;

  @media (min-width: $tablet-width) {
    margin-bottom: 64px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 74px;
  }
}

.application__main-header {
  margin-bottom: 39px;

  @media (min-width: $tablet-width) {
    margin-bottom: 66px;
  }
}

.application__content {
  padding: 0 20px;
}
