@use "./global/variables.scss" as *; /* Переменные */

.application-form__group {
  padding: 0;
  margin: 0;
  border: none;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
  }
}

.application-form__title {
  z-index: 1;
  margin: 0;
  margin-bottom: 35px;
  width: 100%;
  font-family: $accent-font;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  color: $black-text;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 1;
    margin-bottom: 76px;
  }
}

.application-form__title span {
  display: inline-block;
  padding: 0 $mobile-side-indent;
  background-color: #ffffff;

  @media (min-width: $tablet-width) {
    padding: 0 40px;
    margin-left: -40px;
  }
}

.application-form__title::after {
  content: "";
  position: absolute;
  left: 0;
  transform: translateY(16px);
  z-index: -1;
  width: 100%;
  height: 2px;
  background-color: $accent;

  @media (min-width: $tablet-width) {
    transform: translateY(23px);
  }
}

.application-form__title br {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.application-form__cat-data {
  display: grid;
  grid-template-columns: 1fr;
  gap: 14px;
  margin-bottom: 23px;
  padding: 0 $mobile-side-indent;

  @media (min-width: $tablet-width) {
    gap: 20px;
    margin-bottom: 70px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    margin-right: auto;
    margin-bottom: 69px;
  }
}

.application-form__program {
  display: grid;
  grid-template-columns: 1fr;
  gap: 13px;
  margin-bottom: 24px;
  padding: 22px $mobile-side-indent 20px;
  border-top: 1px solid $grey-line;
  border-bottom: 1px solid $grey-line;

  @media (min-width: $tablet-width) {
    margin-right: 0;
    margin-bottom: 74px;
    margin-left: 0;
    padding: 25px 28px;
    border: 1px solid $grey-line;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    margin-bottom: 0;
  }
}

.application-form__contacts {
  display: grid;
  grid-template-columns: 1fr;
  gap: 14px;
  padding: 0 $mobile-side-indent;
  margin-bottom: 24px;

  @media (min-width: $tablet-width) {
    gap: 20px;
    margin-bottom: 65px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}

.application-form__comment {
  padding: 0 $mobile-side-indent;
  margin-bottom: 24px;

  @media (min-width: $tablet-width) {
    margin-bottom: 65px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.application-form__additional-products {
  display: grid;
  grid-template-columns: 1fr;
  gap: 12px;
  margin-bottom: 34px;
  padding: 0 $mobile-side-indent;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
    gap: 32px 60px;
    margin-top: -19px;
    margin-bottom: 54px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    gap: 32px 80px;
    margin-top: -17px;
    margin-bottom: 60px;
  }
}

.application-form__submit-wrapper {
  margin-bottom: 32px;
  padding: 0 $mobile-side-indent;
  text-align: center;

  @media (min-width: $tablet-width) {
    display: flex;
    margin-bottom: 72px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 82px;
  }
}

.application-form__submit {
  width: 100%;
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    width: 282px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
  }
}

.application-form__footnote {
  margin: 0;
  margin-left: 64px;
  font-size: 14px;
  line-height: 16px;
  color: $black-text;

  @media (min-width: $tablet-width) {
    margin-top: 15px;
    font-size: 16px;
    line-height: 16px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 80px;
  }
}
