.button {
  display: block;
  padding: 11px 26px;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #444444;
  text-align: center;
  text-decoration: none;
  background-color: #f2f2f2;
  border: none;
  cursor: pointer;
}
