@use "./global/variables.scss" as *; /* Переменные */

.container {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $tablet-width) {
    max-width: 100%;
    width: 708px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
  }
}
