@use "./global/variables.scss" as *; /* Переменные */

.contacts {
  position: relative;
  background-color: #ffffff;

  &--light-bg {
    background-color: $basic-grey;
  }

  @media (min-width: $desktop-width) {
    padding: 95px 0;
    min-height: 400px;
    background-color: #ffffff;
  }
}

.contacts__container {
  @media (min-width: $desktop-width) {
    height: auto;
    z-index: -1;
  }
}

.contacts__content {
  display: flex;
  justify-content: space-between;
  padding: 26px $mobile-side-indent;

  @media (min-width: $tablet-width) {
    padding: 56px 40px 61px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    z-index: 2;
    padding: 56px 80px 59px;
    width: 565px;
    background-color: #ffffff;
  }
}

.contacts__offer {
  width: 50%;
  margin: 0;
  font-family: $accent-font;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $black-text;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
    margin-top: 4px;
  }
}

.contacts__address {
  width: 50%;
  font-style: normal;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    width: 155px;
    text-align: left;
  }
}

.contacts__address p {
  margin: 0;
}

.contacts__address p:not(:last-child) {
  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }
}

.contacts__map {
  height: 362px;

  @media (min-width: $tablet-width) {
    height: 400px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    left: 0;
    height: 100%;
  }
}

.contacts__map iframe {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
}
