@use "./global/variables.scss" as *; /* Переменные */

.copyright {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 34px;

  @media (min-width: $tablet-width) {
    justify-content: flex-end;
  }
}

.copyright__link {
  display: flex;
  align-items: center;
  color: inherit;
  text-decoration: none;
}

.copyright__logo {
  position: absolute;
  top: 1px;
  right: 0;
  width: 27px;
  height: 34px;
  color: #666666;
  transition: color 0.2s ease-out;

  @media (min-width: $tablet-width) {
    position: static;
    margin-left: 22px;
    margin-top: 2px;
    flex-shrink: 0;
  }
}

.copyright__link:hover .copyright__logo {
  color: $accent;
}

.copyright__link:active {
  opacity: 0.3;
}
