@use "./global/variables.scss" as *; /* Переменные */

.example {
  padding: 25px $mobile-side-indent 40px;
  background-image: linear-gradient($basic-grey, $basic-grey);
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    padding: 0 0 60px;
    background-position: bottom center;
    background-size: 100% 462px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 0 70px;
  }
}

.example__container {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
  }
}

.example__content {
  @media (min-width: $desktop-width) {
    padding-top: 48px;
  }
}

.example__title {
  margin: 0;
  margin-bottom: 40px;
  font-family: $accent-font;
  font-size: 36px;
  font-weight: normal;
  line-height: 40px;
  color: $black-text;

  @media (min-width: $tablet-width) {
    margin-bottom: 64px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 148px;
  }
}

.example__intro {
  margin: 0;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    margin-bottom: 54px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    max-width: 436px;
    margin-bottom: 68px;
  }
}

.example__achievement-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 80px;
  }

  @media (min-width: $desktop-width) {
    display: block;
    margin-bottom: 0;
  }
}

.example__achievement-list {
  flex-grow: 1;
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 56px;
  }
}

.example__expenses {
  flex-grow: 1;
  margin-top: 0;
  margin-bottom: 40px;
  padding: 0 32px;
  font-family: $accent-font;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: $black-text;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    padding: 0;
    max-width: 180px;
    font-size: 20px;
    line-height: 30px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    max-width: 327px;
    text-align-last: left;
  }
}
