@use "./global/variables.scss" as *; /* Переменные */

.header-logo {
  position: relative;
  display: flex;
}

.header-logo__link {
  transition: opacity 0.2s ease-in-out;

  &[href]:hover {
    opacity: 0.8;
  }

  &[href]:active {
    opacity: 0.6;
  }
}

.header-logo__small-img {
  display: block;
  max-width: 34px;
  max-height: 38px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.header-logo__name {
  position: absolute;
  top: 12px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 101px;
  max-height: 18px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.header-logo__img {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    width: 203px;
    height: 60px;
  }
}
