@use "./global/variables.scss" as *; /* Переменные */

.header-logo {
  position: relative;

  @media (max-width: $only-mobile-width) {
    min-width: 200px;
    width: 100%;
  }
}

.header-logo__link {
  display: inline-block;
  transition: opacity 0.2s ease-in-out;

  &[href]:hover {
    opacity: 0.8;
  }

  &[href]:active {
    opacity: 0.6;
  }
}

.header-logo__image {
  display: block;
  width: 34px;
  height: 38px;
  object-fit: cover;
  object-position: left;

  @media (min-width: $tablet-width) {
    width: 174px;
    height: 52px;
  }

  @media (min-width: $desktop-width) {
    width: 203px;
    height: 60px;
  }
}

.header-logo__link::after {
  content: "";
  position: absolute;
  top: 13px;
  left: 50%;
  transform: translateX(-50%);
  width: 101px;
  height: 18px;
  background-image: url("../img/logo-small.svg");
  background-repeat: no-repeat;
  background-size: 150px 38px;
  background-position: right top -13px;


  @media (min-width: $tablet-width) {
    display: none;
  }
}
