@use "./global/variables.scss" as *; /* Переменные */

.page-footer {
  padding: 37px $mobile-side-indent 22px;
  background: $basic-grey;

  @media (min-width: $tablet-width) {
    padding: 56px 0;
  }
}

.page-footer__container {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 180px 1fr 180px;
    align-items: center;
  }
}

.page-footer__logo {
  display: flex;
  justify-content: center;
  padding-bottom: 31px;
  border-bottom: 1px solid $light-line;

  @media (min-width: $tablet-width) {
    justify-content: start;
    padding-bottom: 0;
    border-bottom: none;
  }
}

.page-footer__logo img {
  display: block;
}

.page-footer__social {
  display: flex;
  justify-content: center;
  padding: 16px 0;
  border-bottom: 1px solid $light-line;

  @media (min-width: $tablet-width) {
    padding: 0;
    border-bottom: none;
  }
}

.page-footer__copyright {
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  line-height: 18px;
  margin-top: 22px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
  }
}
