@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/oswaldregular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/oswaldregular.woff2") format("woff2");
  font-display: swap;
}

.page {
  height: 100%;
}

.page__body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.29;
  color: #444444;
  background-color: #ffffff;
  min-width: 320px;
}

.page__main {
  flex-grow: 1;
}
