/* Для главной */

.page-main__promo {
  margin-bottom: 20px;
}

.page-main__programs {
  margin-bottom: 20px;
}

.page-main__about-product {
  margin-bottom: 49px;
}

/* Страница Заявки */

.page-main__application {
  margin-bottom: 32px;
}

/* Каталог */

.page-main__catalog {
  margin-bottom: 25px;
}

.page-main__additional-products {
  margin-bottom: 35px;
}
