@use "./global/variables.scss" as *; /* Переменные */

.page-footer {
  padding: 39px 20px 22px;
  background: $basic-grey;
}

.page-footer__container {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 180px 1fr 180px;
    align-items: center;
  }
}

.page-footer__logo {
  display: flex;
  justify-content: center;
  padding-bottom: 32px;
  border-bottom: 1px solid $light-line;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
    border-bottom: none;
  }
}

.page-footer__social {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  border-bottom: 1px solid $light-line;

  @media (min-width: $tablet-width) {
    padding: 0;
    border-bottom: none;
  }
}

.page-footer__copyright {
  margin-top: 22px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
  }
}
