@use "./global/variables.scss" as *; /* Переменные */

.page-header {
  position: relative;
  z-index: 2;
}

.page-header__navigation {
  @media (min-width: $tablet-width) {
    display: flex;
    padding: 24px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 53px 0;
  }
}

.page-header__logo-wrap {
  @media (max-width: $only-mobile-width) {
    position: relative;
    padding: 12px $mobile-side-indent 15px;
    border-bottom: 1px solid $basic-grey;
  }
}

.page-header__menu-toggler {
  position: absolute;
  top: 12px;
  right: $mobile-side-indent;
  transform: translateX(7px); // Сдвиг на величину правого паддинга кнопки
  display: block;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.page-header__site-menu {
  @media (max-width: $only-mobile-width) {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    margin-top: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-out, visibility 0.3s ease-out;
  }

  @media (min-width: $tablet-width) {
    margin-top: 8px;
    width: auto;
    flex-grow: 1;
    margin-left: 60px;
  }

  @media (min-width: $desktop-width) {
    max-width: 50%;
    margin-top: 10px;
    margin-left: auto;
  }
}

.page-header__site-menu--opened {
  opacity: 1;
  visibility: visible;
}

.page-header--nojs .page-header__logo-wrap {
  @media (max-width: $only-mobile-width) {
    padding-bottom: 0;
  }
}

.page-header--nojs .page-header__site-menu {
  @media (max-width: $only-mobile-width) {
    position: static;
    margin-top: 15px;
    opacity: 1;
    visibility: visible;
  }
}
