.product-preview__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;

  a {
    color: #222222;
    text-decoration: none;
  }
}
