@use "./global/variables.scss" as *; /* Переменные */

.programs {
  padding: 0 20px;
}

.programs__list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    gap: 30px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}

.programs__item {
  padding: 24px 20px 22px;
  background-color: $basic-grey;
}

.programs__title {
  margin: 0;
  margin-bottom: 29px;
  font-family: $accent-font;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.54;
  text-transform: uppercase;
  color: $dark-text;
}

.programs__item p {
  margin: 0;
  margin-bottom: 23px;
}

.programs__link {
  display: inline-block;
  font-family: $accent-font;
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
  color: $dark-text;
  text-decoration: none;
}
