@use "./global/variables.scss" as *; /* Переменные */

.programs {
  padding: 0 20px;
}

.programs__list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    gap: 30px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}

.programs__item {
  position: relative;
  padding: 30px 20px 21px;
  background-color: $basic-grey;

  @media (min-width: $tablet-width) {
    padding: 76px 316px 57px 53px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 53px;
  }
}

.programs__item::before {
  content: "";
  position: absolute;
  top: 24px;
  left: 22px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: $accent;

  @media (min-width: $tablet-width) {
    top: 92px;
    right: 62px;
    left: auto;
    width: 200px;
    height: 200px;
  }

  @media (min-width: $desktop-width) {
    top: 47px;
    left: 52px;
    right: auto;
    width: 100px;
    height: 100px;
  }
}

.programs__item--weight-loss::after {
  content: "";
  position: absolute;
  top: 21px;
  left: 29px;
  width: 36px;
  height: 50px;
  background-image: url("../img/programs/weight-loss.svg");
  background-repeat: no-repeat;
  background-size: contain;

  @media (min-width: $tablet-width) {
    top: 81px;
    right: 92px;
    left: auto;
    width: 140px;
    height: 194px;
  }

  @media (min-width: $desktop-width) {
    top: 41px;
    right: auto;
    left: 67px;
    width: 70px;
    height: 97px;
  }
}

.programs__item--weight-gain::after {
  content: "";
  position: absolute;
  top: 35px;
  left: 13px;
  width: 67px;
  height: 38px;
  background-image: url("../img/programs/weight-gain.svg");
  background-repeat: no-repeat;
  background-size: contain;

  @media (min-width: $tablet-width) {
    top: 135px;
    right: 28px;
    left: auto;
    width: 268px;
    height: 112px;
  }

  @media (min-width: $desktop-width) {
    top: 67px;
    right: auto;
    left: 33px;
    width: 134px;
    height: 56px;
  }
}

.programs__title {
  margin: 0;
  margin-bottom: 30px;
  margin-left: 71px;
  font-family: $accent-font;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  text-transform: uppercase;
  color: $black-text;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    margin-bottom: 27px;
    margin-left: 0;
  }

  @media (min-width: $desktop-width) {
    margin-left: 160px;
    margin-bottom: 74px;
  }
}

.programs__intro {
  margin: 0;
  margin-bottom: 20px;
  padding-bottom: 22px;
  font-size: 14px;
  line-height: 18px;
  border-bottom: 1px solid $grey-line;

  @media (min-width: $tablet-width) {
    margin-bottom: 50px;
    padding-bottom: 0;
    font-size: 16px;
    line-height: 24px;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 27px;
  }
}

.programs__link {
  display: flex;
  margin: 0;
}

.programs__link a {
  display: flex;
  align-items: center;
  font-family: $accent-font;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $black-text;
  text-decoration: none;
  transition: opacity 0.2s ease-out;

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.programs__link a::after {
  content: "";
  display: inline-block;
  margin-left: 15px;
  width: 24px;
  height: 12px;
  background-image: url("../img/icons/arrow-long.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right center;
  transition: width 0.2s ease-out;

  @media (min-width: $tablet-width) {
    margin-left: 25px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 28px;
  }
}

.programs__link a:hover::after {
  width: 32px;
}
