@use "./global/variables.scss" as *; /* Переменные */

.promo {
  position: relative;
  z-index: 1;
  padding: 0 20px;
  color: #ffffff;
  text-align: center;

  @media (min-width: $tablet-width) {
    color: $black-text;
    text-align: left;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 302px;
    z-index: -1;
    background-image:
      linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
      url("../img/promo/promo-bg-small.jpg");
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;
    background-position: center;

    @media (min-width: $tablet-width) {
      content: none;
    }

    @media (min-width: $desktop-width) {
      content: "";
      left: 50%;
      height: 100%;
      background-image:
        linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
        url("../img/promo/promo-bg.jpg");
      background-position: left center;
    }
  }
}

.promo__container {
  padding-top: 25px;
  background-image: url("../img/promo/promo-images.png");
  background-repeat: no-repeat;
  background-position: center bottom 43px;
  background-size: 280px 270px;

  @media (min-width: $tablet-width) {
    padding-top: 140px;
    padding-right: 90px;
    padding-bottom: 526px;
    padding-left: 90px;
    background-position: center bottom;
    background-size: contain;
  }

  @media (min-width: $desktop-width) {
    padding-top: 223px;
    padding-right: 80px;
    padding-bottom: 185px;
    padding-left: 80px;
    background-position: top 141px left 448px;
    background-size: 552px 499px;
  }
}

.promo__title {
  margin: 0;
  margin-bottom: 26px;
  font-family: $accent-font;
  font-size: 36px;
  font-weight: normal;
  line-height: 1;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    margin-bottom: 41px;
  }
}

.promo__slogan {
  margin: 0;
  margin-bottom: 303px;
  font-family: $accent-font;
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    margin-bottom: 49px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 51px;
  }
}

.promo__button {
  width: 100%;

  @media (min-width: $tablet-width) {
    width: auto;
  }
}
