@use "./global/variables.scss" as *; /* Переменные */

.secondary-title {
  position: relative;
  z-index: 1;
  padding: 0 $mobile-side-indent;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.secondary-title::after {
  content: "";
  position: absolute;
  top: 14px;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 2px;
  background-color: $accent;

  @media (min-width: $tablet-width) {
    top: 22px;
  }
}

.secondary-title__title {
  display: inline-block;
  margin: 0;
  padding: 0 20px;
  margin-left: -20px;
  font-family: $accent-font;
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
  color: $black-text;
  background-color: #ffffff;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    margin-left: 0;
    padding: 0 37px;
  }

  @media (min-width: $desktop-width) {
    margin-left: -37px;
  }
}

.secondary-title br {
  @media (min-width: $tablet-width) {
    display: none;
  }
}
