@use "./global/variables.scss" as *; /* Переменные */

.site-menu {
  margin: 0;
  padding: 0;
  font-family: $accent-font;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: $black-text;
  text-transform: uppercase;
  text-align: center;
  list-style-type: none;
  border-top: 1px solid $light-line;
  background-color: #ffffff;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    border-top: none;
    font-size: 18px;
    font-weight: 400;
    background-color: transparent;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
  }

  &--home {
    @media (min-width: $desktop-width) {
      color: #ffffff;
    }
  }
}

.site-menu__item {
  @media (min-width: $tablet-width) {
    position: relative;
    margin-right: 16px;

    &:last-child {
      margin-right: -10px;
    }
  }
}


.site-menu__item--current::after {
  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;
    bottom: 0;
    left: 10px;
    right: 10px;
    height: 2px;
    background-color: $accent;
  }
}

.site-menu--home .site-menu__item--current::after {
  @media (min-width: $desktop-width) {
    background-color: #ffffff;
  }
}

.site-menu a {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 23px $mobile-side-indent 22px;
  color: inherit;
  text-decoration: none;
  transition: opacity 0.2s ease-out;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (max-width: $only-mobile-width) {
    border-bottom: 1px solid $light-line;
  }

  @media (min-width: $tablet-width) {
    padding: 12px 10px;
  }
}

.site-menu__item--current a {
  &:hover {
    opacity: 1;
  }

  &:active {
    opacity: 1;
  }
}
