@use "./global/variables.scss" as *; /* Переменные */

.additional-products {
  padding: 0 $mobile-side-indent;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.additional-products__container {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.additional-products__title {
  position: relative;
  z-index: 1;
  margin: 0;
  margin-bottom: 35px;
  width: 100%;
  font-family: $accent-font;
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
  color: $black-text;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    margin-bottom: 80px;
  }
}

.additional-products__title::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 14px;
  left: calc(50% - 50vw);
  width: 100vw;
  height: 2px;
  background-color: $accent;

  @media (min-width: $tablet-width) {
    top: 22px;
  }
}

.additional-products__title span {
  display: inline-block;
  padding: 0 22px;
  margin-left: -22px;
  background-color: #ffffff;

  @media (min-width: $tablet-width) {
    padding: 0 37px;
    margin-left: 0;
  }
}

.additional-products__title br {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.additional-products__list {
  margin: 0;
  margin-bottom: 34px;
  padding: 0;
  border-top: 1px solid #cdcdcd;
  border-bottom: 1px solid #cdcdcd;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    border: 1px solid #cdcdcd;
    margin-bottom: 69px;
  }

  @media (min-width: $desktop-width) {
    width: 896px;
    margin-right: auto;
    margin-bottom: 0;
    border-right: none;
    border-left: none;
  }
}

.additional-products__item {
  border-bottom: 1px solid #cdcdcd;

  &:last-child {
    border: none;
  }
}

.additional-products__gift {
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $tablet-width) {
    margin-left: 0;
    margin-right: 0;
  }
}

