@use "./global/variables.scss" as *; /* Переменные */

.form-textarea {
  display: block;
  width: 100%;
  height: 150px;
  padding: 10px 14px;
  font-family: $accent-font;
  font-size: 16px;
  line-height: 18px;
  border: 1px solid #e7e7e7;
  resize: none;
  transition: border-color 0.2s ease-out;

  @media (min-width: $tablet-width) {
    padding: 10px 18px;
    height: 174px;
    font-size: 20px;
    line-height: 30px;
  }

  &:hover {
    border-color: #cdcdcd;
  }

  &:focus {
    border: 1px solid $text-color;
    outline: 1px solid $text-color;
  }

  &--error {
    border: 1px solid $error-color;
    outline: 1px solid $error-color;
  }
}

.form-textarea::placeholder {
  text-transform: uppercase;
}
