// Colors
$accent: #68b738;
$accent--dark: #5eaa2f;

$text-color: #444444;
$black-text: #000000;
$dark-text: #222222;

$light-line: #e6e6e6;
$grey-line: #d9d9d9;
$basic-grey: #f2f2f2;

$error-color: #ff8282;

// Fonts
$base-font: "Arial", sans-serif;
$accent-font: "Oswald", "Arial", sans-serif;

// Viewports
$mobile-max-width: 400px;
$mobile-side-indent: 6.25%;
$tablet-width: 768px;
$only-mobile-width: $tablet-width - 1px;
$desktop-width: 1280px;
