@charset "UTF-8";
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/oswaldregular.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/oswaldmedium.woff2") format("woff2"), url("../fonts/oswaldmedium.woff") format("woff");
  font-display: swap;
}
img {
  max-width: 100%;
  object-fit: contain;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Переменные */
.page {
  height: 100%;
}

.page__body {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.29;
  color: #444444;
  background-color: #ffffff;
  min-width: 320px;
}
@media (min-width: 768px) {
  .page__body {
    font-size: 16px;
  }
}

.page__main {
  flex-grow: 1;
}

/* Переменные */
.container {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .container {
    max-width: 100%;
    width: 708px;
  }
}
@media (min-width: 1280px) {
  .container {
    width: 1220px;
  }
}

/* Переменные */
.button {
  display: inline-block;
  padding: 13px 26px;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
  color: #444444;
  text-align: center;
  text-decoration: none;
  background-color: #f2f2f2;
  border: none;
  cursor: pointer;
}
.button--accent {
  color: #ffffff;
  background-color: #68b738;
}
@media (min-width: 768px) {
  .button {
    padding: 17px 26px;
    font-size: 20px;
  }
}

/* Переменные */
.header-logo {
  position: relative;
  display: flex;
}

.header-logo__small-img {
  display: block;
}
@media (min-width: 768px) {
  .header-logo__small-img {
    display: none;
  }
}

.header-logo__name {
  position: absolute;
  top: 13px;
  left: 50%;
  transform: translateX(-50%);
}
@media (min-width: 768px) {
  .header-logo__name {
    display: none;
  }
}

.header-logo__img {
  display: none;
}
@media (min-width: 768px) {
  .header-logo__img {
    display: block;
  }
}

/* Переменные */
.site-menu {
  margin: 0;
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  list-style-type: none;
  border-top: 1px solid #e6e6e6;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .site-menu {
    display: flex;
    justify-content: flex-end;
    border-top: none;
    font-size: 18px;
    font-weight: 400;
    background-color: transparent;
  }
}
@media (min-width: 1280px) {
  .site-menu {
    font-size: 20px;
  }
}
@media (min-width: 1280px) {
  .site-menu--home {
    color: #ffffff;
  }
}

.site-menu a {
  display: block;
  padding: 23px 20px 22px;
  color: inherit;
  text-decoration: none;
}
@media (min-width: 768px) {
  .site-menu a {
    padding: 10px;
  }
}

.site-menu__item:not(:last-child) a {
  border-bottom: 1px solid #e6e6e6;
}
@media (min-width: 768px) {
  .site-menu__item:not(:last-child) a {
    border-bottom: none;
  }
}

.menu-toggler {
  width: 24px;
  height: 24px;
  background-color: transparent;
  background-image: url("../img/icons/menu-toggler.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border: none;
  cursor: pointer;
}

.social {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

/* Переменные */
.copyright {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 34px;
}
@media (min-width: 768px) {
  .copyright {
    justify-content: flex-end;
  }
}

.copyright__link {
  display: flex;
  align-items: center;
  color: inherit;
  text-decoration: none;
}

.copyright__logo {
  position: absolute;
  top: 0;
  right: 0;
}
@media (min-width: 768px) {
  .copyright__logo {
    position: static;
    margin-left: 22px;
  }
}

/* Переменные */
.page-header {
  position: relative;
  z-index: 2;
  padding-top: 10px;
  border-bottom: 1px solid #d9d9d9;
}
@media (min-width: 768px) {
  .page-header {
    padding-top: 24px;
    border-bottom: none;
  }
}
@media (min-width: 1280px) {
  .page-header {
    padding-top: 55px;
  }
}
.page-header--home {
  border-bottom: none;
}

.page-header__container {
  max-width: 100%;
}

.page-header__navigation {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.page-header__logo {
  flex-shrink: 0;
  max-width: 400px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}
@media (min-width: 768px) {
  .page-header__logo {
    max-width: 100%;
    width: auto;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
  }
}

.page-header__menu-toggler {
  display: none;
  flex-shrink: 0;
  margin-top: 7px;
}
@media (min-width: 768px) {
  .page-header__menu-toggler {
    display: none;
  }
}

.page-header__site-menu {
  margin-top: 17px;
  width: 100%;
}
@media (min-width: 768px) {
  .page-header__site-menu {
    margin-top: 8px;
    width: auto;
  }
}

/* Переменные */
.page-footer {
  padding: 39px 20px 22px;
  background: #f2f2f2;
}

@media (min-width: 768px) {
  .page-footer__container {
    display: grid;
    grid-template-columns: 180px 1fr 180px;
    align-items: center;
  }
}

.page-footer__logo {
  display: flex;
  justify-content: center;
  padding-bottom: 32px;
  border-bottom: 1px solid #e6e6e6;
}
@media (min-width: 768px) {
  .page-footer__logo {
    padding-bottom: 0;
    border-bottom: none;
  }
}

.page-footer__social {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  border-bottom: 1px solid #e6e6e6;
}
@media (min-width: 768px) {
  .page-footer__social {
    padding: 0;
    border-bottom: none;
  }
}

.page-footer__copyright {
  margin-top: 22px;
}
@media (min-width: 768px) {
  .page-footer__copyright {
    margin-top: 0;
  }
}

/* Переменные */
.promo {
  position: relative;
  z-index: 1;
  padding: 0 20px;
  color: #ffffff;
  text-align: center;
}
@media (min-width: 768px) {
  .promo {
    color: #000000;
    text-align: left;
  }
}
.promo::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 300px;
  z-index: -1;
  background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/promo/promo-bg.jpg");
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
  background-position: center;
}
@media (min-width: 768px) {
  .promo::after {
    content: none;
  }
}
@media (min-width: 1280px) {
  .promo::after {
    content: "";
    left: 50%;
    height: 100%;
  }
}

.promo__container {
  padding-top: 27px;
  background-image: url("../img/promo/promo-images.png");
  background-repeat: no-repeat;
  background-position: center bottom 43px;
  background-size: 280px 270px;
}
@media (min-width: 768px) {
  .promo__container {
    padding-top: 140px;
    padding-bottom: 526px;
    background-position: center bottom;
    background-size: contain;
  }
}
@media (min-width: 1280px) {
  .promo__container {
    padding-top: 223px;
    padding-bottom: 185px;
    background-position: top 141px left 448px;
    background-size: 552px 499px;
  }
}

.promo__title {
  margin: 0;
  margin-bottom: 25px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-weight: normal;
  line-height: 1;
}
@media (min-width: 768px) {
  .promo__title {
    font-size: 60px;
    margin-bottom: 41px;
  }
}

.promo__slogan {
  margin: 0;
  margin-bottom: 300px;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .promo__slogan {
    font-size: 20px;
    margin-bottom: 49px;
  }
}

.promo__button {
  width: 100%;
}
@media (min-width: 768px) {
  .promo__button {
    width: auto;
  }
}

/* Переменные */
.programs {
  padding: 0 20px;
}

.programs__list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
@media (min-width: 768px) {
  .programs__list {
    gap: 30px;
  }
}
@media (min-width: 1280px) {
  .programs__list {
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}

.programs__item {
  padding: 24px 20px 22px;
  background-color: #f2f2f2;
}

.programs__title {
  margin: 0;
  margin-bottom: 29px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.54;
  text-transform: uppercase;
  color: #000000;
}

.programs__item p {
  margin: 0;
  margin-bottom: 23px;
}

.programs__link {
  display: inline-block;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

/* Переменные */
.about-product {
  padding: 0 20px;
}

.about-product__title {
  margin: 0;
  margin-bottom: 40px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-weight: normal;
  line-height: 1.11;
  color: #000000;
}

.about-product__list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
@media (min-width: 768px) {
  .about-product__list {
    grid-template-columns: 1fr 1fr;
    gap: 37px;
  }
}
@media (min-width: 1280px) {
  .about-product__list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 77px;
  }
}

/* Переменные */
.example {
  padding: 25px 20px 40px;
  background-image: linear-gradient(#f2f2f2, #f2f2f2);
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .example {
    padding-top: 0;
    padding-bottom: 55px;
    background-position: top 621px center;
  }
}
@media (min-width: 1280px) {
  .example {
    padding-top: 0;
    padding-bottom: 65px;
    background-position: top 136px center;
  }
}

@media (min-width: 1280px) {
  .example__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.example__title {
  margin: 0;
  margin-bottom: 40px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-weight: normal;
  line-height: 1.11;
  color: #000000;
}

.example p {
  margin: 0;
  margin-bottom: 20px;
}

/* Переменные */
.contacts {
  position: relative;
  z-index: 1;
  background-color: #ffffff;
}
.contacts--light-bg {
  background-color: #f2f2f2;
}
@media (min-width: 1280px) {
  .contacts {
    padding: 95px 0;
    min-height: 400px;
    background-color: #ffffff;
  }
}

.contacts__content {
  display: flex;
  padding: 26px 20px;
}
@media (min-width: 768px) {
  .contacts__content {
    padding: 56px 0;
  }
}
@media (min-width: 1280px) {
  .contacts__content {
    padding: 56px 80px;
    width: 565px;
    background-color: #ffffff;
  }
}

.contacts__offer {
  width: 50%;
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
}

.contacts__address {
  width: 50%;
  font-style: normal;
  line-height: 20px;
}
@media (min-width: 768px) {
  .contacts__address {
    text-align: right;
  }
}

.contacts__address p {
  margin: 0;
}

@media (min-width: 768px) {
  .contacts__address p:not(:last-child) {
    margin-bottom: 20px;
  }
}

.contacts__map {
  height: 362px;
  background-image: url("../img/location.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media (min-width: 768px) {
  .contacts__map {
    height: 400px;
  }
}
@media (min-width: 1280px) {
  .contacts__map {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    left: 0;
    height: 100%;
  }
}

/* Переменные */
.main-header__container {
  padding: 0 20px;
}
@media (min-width: 768px) {
  .main-header__container {
    padding: 0;
  }
}

.main-header__title {
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-weight: normal;
  line-height: 1;
  color: #000000;
}
@media (min-width: 768px) {
  .main-header__title {
    font-size: 60px;
    margin-bottom: 54px;
  }
}

.main-header__intro {
  margin: 0;
  margin-top: 37px;
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  color: #000000;
}
@media (min-width: 768px) {
  .main-header__intro {
    font-size: 20px;
    line-height: 30px;
  }
}

/* Переменные */
.application-form__group {
  padding: 0;
  margin: 0;
  margin-bottom: 26px;
  border: none;
}
@media (min-width: 768px) {
  .application-form__group {
    margin-bottom: 65px;
  }
}
@media (min-width: 1280px) {
  .application-form__group {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 69px;
  }
}
.application-form__group:last-of-type {
  margin-bottom: 0;
}

.application-form__title {
  margin: 0;
  margin-bottom: 35px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  font-weight: normal;
  line-height: 1.08;
  color: #000000;
}
@media (min-width: 768px) {
  .application-form__title {
    font-size: 36px;
    line-height: 1;
    margin-bottom: 76px;
  }
}

.application-form__item {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.12;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .application-form__item {
    font-size: 20px;
    line-height: 30px;
  }
}

.application-form__input {
  font: inherit;
  text-transform: uppercase;
}

.application-form__radio {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.12;
  text-transform: uppercase;
  color: #222222;
}
@media (min-width: 768px) {
  .application-form__radio {
    font-size: 20px;
    line-height: 30px;
  }
}

.application-form__checkbox {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.12;
  text-transform: uppercase;
  color: #222222;
}
@media (min-width: 768px) {
  .application-form__checkbox {
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: 1280px) {
  .application-form__row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}

.application-form__cat-data {
  display: grid;
  grid-template-columns: 1fr;
  gap: 18px;
  margin-bottom: 27px;
}
@media (min-width: 768px) {
  .application-form__cat-data {
    gap: 20px;
    margin-bottom: 70px;
  }
}
@media (min-width: 1280px) {
  .application-form__cat-data {
    width: 570px;
    margin-right: auto;
    margin-bottom: 0;
  }
}

.application-form__program {
  display: grid;
  grid-template-columns: 1fr;
  gap: 12px;
  margin-left: -20px;
  margin-right: -20px;
  padding: 20px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}
@media (min-width: 768px) {
  .application-form__program {
    margin-left: 0;
    margin-right: 0;
    padding: 25px 28px;
    border: 1px solid #d9d9d9;
  }
}
@media (min-width: 1280px) {
  .application-form__program {
    width: 570px;
  }
}

.application-form__contacts {
  display: grid;
  grid-template-columns: 1fr;
  gap: 14px;
}
@media (min-width: 768px) {
  .application-form__contacts {
    gap: 20px;
  }
}
@media (min-width: 1280px) {
  .application-form__contacts {
    width: 100%;
  }
}

.application-form__additional-products {
  display: grid;
  grid-template-columns: 1fr;
  gap: 12px;
  margin-bottom: 34px;
}
@media (min-width: 768px) {
  .application-form__additional-products {
    grid-template-columns: 1fr 1fr;
    gap: 32px;
    margin-bottom: 54px;
  }
}
@media (min-width: 1280px) {
  .application-form__additional-products {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    margin-bottom: 61px;
  }
}

.application-form__submit-wrapper {
  margin-bottom: 32px;
  text-align: center;
}
@media (min-width: 768px) {
  .application-form__submit-wrapper {
    display: flex;
    margin-bottom: 72px;
  }
}
@media (min-width: 1280px) {
  .application-form__submit-wrapper {
    margin-bottom: 82px;
  }
}

.application-form__submit {
  width: 100%;
  margin-bottom: 21px;
}
@media (min-width: 768px) {
  .application-form__submit {
    width: 282px;
    margin-right: 60px;
    margin-bottom: 0;
  }
}
@media (min-width: 1280px) {
  .application-form__submit {
    width: 570px;
    margin-right: 80px;
  }
}

.application-form__footnote {
  margin: 0;
  color: #000000;
}

/* Переменные */
.basic-preview {
  display: flex;
  flex-wrap: wrap;
}

.basic-preview__images {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  flex-shrink: 0;
}

.basic-preview__images img {
  display: block;
}

.basic-preview__content {
  width: 50%;
  flex-grow: 1;
}

.basic-preview__title {
  width: 80px;
  margin: 0;
  margin-bottom: 18px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
.basic-preview__title a {
  color: #222222;
  text-decoration: none;
}

.basic-preview__list {
  display: grid;
  grid-template-columns: auto auto;
}

.basic-preview__list dd {
  margin: 0;
  text-align: right;
}

.basic-preview__button {
  margin-top: 13px;
  width: 100%;
}

/* Переменные */
.show-all {
  padding: 20px 20px 25px 20px;
  text-align: center;
}
@media (min-width: 768px) {
  .show-all {
    display: flex;
    flex-direction: column;
    padding: 40px;
    border: 2px solid #f2f2f2;
  }
}

.show-all__title {
  margin: 0;
  margin-bottom: 8px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;
}
@media (min-width: 768px) {
  .show-all__title {
    margin-bottom: 23px;
    font-size: 20px;
    line-height: 22px;
  }
}

.show-all p {
  margin: 0;
  margin-bottom: 21px;
  font-size: 12px;
}
@media (min-width: 768px) {
  .show-all p {
    margin-bottom: auto;
    font-size: 16px;
    line-height: 18px;
  }
}

.show-all__button {
  width: 100%;
}

/* Переменные */
.basic-products {
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}
@media (min-width: 768px) {
  .basic-products {
    border: none;
  }
}

.basic-products__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
@media (min-width: 768px) {
  .basic-products__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
  }
}
@media (min-width: 1280px) {
  .basic-products__list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 60px 80px;
  }
}

.basic-products__item {
  padding: 20px 20px 25px 20px;
  border-bottom: 1px solid #e6e6e6;
}
.basic-products__item:last-child {
  border: none;
}
@media (min-width: 768px) {
  .basic-products__item {
    padding: 40px;
    border: none;
    background-color: #f2f2f2;
  }
}

/* Переменные */
@media (min-width: 768px) {
  .additional-preview {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
}

.additional-preview__title {
  margin: 0;
  margin-bottom: 18px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
.additional-preview__title a {
  color: #222222;
  text-decoration: none;
}

.additional-preview__list {
  display: grid;
  grid-template-columns: auto auto;
}

.additional-preview__list dd {
  margin: 0;
  text-align: right;
}

.additional-preview__button {
  margin-top: 13px;
  width: 100%;
}
@media (min-width: 1280px) {
  .additional-preview__button {
    width: 244px;
  }
}

/* Переменные */
.additional-products__container {
  padding: 0 20px;
}
@media (min-width: 768px) {
  .additional-products__container {
    padding: 0;
  }
}
@media (min-width: 1280px) {
  .additional-products__container {
    display: flex;
    flex-wrap: wrap;
  }
}

.additional-products__title {
  margin: 0;
  margin-bottom: 36px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
  color: #000000;
}
@media (min-width: 768px) {
  .additional-products__title {
    font-size: 36px;
    margin-bottom: 80px;
  }
}
@media (min-width: 1280px) {
  .additional-products__title {
    width: 100%;
  }
}

.additional-products__list {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
  border-top: 1px solid #cdcdcd;
  border-bottom: 1px solid #cdcdcd;
  list-style-type: none;
}
@media (min-width: 768px) {
  .additional-products__list {
    border: 1px solid #cdcdcd;
  }
}
@media (min-width: 1280px) {
  .additional-products__list {
    width: 900px;
    margin-right: auto;
    margin-bottom: 0;
    border-right: none;
    border-left: none;
  }
}

.additional-products__item {
  padding: 12px 0 19px;
  border-bottom: 1px solid #cdcdcd;
}
.additional-products__item:last-child {
  border: none;
}
@media (min-width: 768px) {
  .additional-products__item {
    padding: 26px 38px 28px;
  }
}
@media (min-width: 1280px) {
  .additional-products__item {
    padding: 15px 0;
  }
}

.additional-products__offer {
  display: block;
  padding: 187px 40px 43px;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85));
}
@media (min-width: 768px) {
  .additional-products__offer {
    padding: 70px 124px 70px 422px;
    text-align: left;
  }
}
@media (min-width: 1280px) {
  .additional-products__offer {
    width: 245px;
    padding: 187px 40px 43px;
    text-align: center;
  }
}

/* Переменные */
@media (min-width: 768px) {
  .home__page-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}

.home__promo {
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .home__promo {
    margin-bottom: 0;
  }
}
@media (min-width: 1280px) {
  .home__promo {
    margin-bottom: 82px;
  }
}

.home__programs {
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .home__programs {
    margin-bottom: 45px;
  }
}
@media (min-width: 1280px) {
  .home__programs {
    margin-bottom: 71px;
  }
}

.home__about-product {
  margin-bottom: 49px;
}
@media (min-width: 768px) {
  .home__about-product {
    margin-bottom: 43px;
    padding-bottom: 47px;
    border-bottom: 1px solid #e6e6e6;
  }
}
@media (min-width: 1280px) {
  .home__about-product {
    padding-bottom: 0;
    margin-bottom: 26px;
    border-bottom: none;
  }
}

/* Переменные */
.application__page-header {
  margin-bottom: 27px;
}
@media (min-width: 768px) {
  .application__page-header {
    margin-bottom: 64px;
  }
}
@media (min-width: 1280px) {
  .application__page-header {
    margin-bottom: 74px;
  }
}

.application__main-header {
  margin-bottom: 39px;
}
@media (min-width: 768px) {
  .application__main-header {
    margin-bottom: 66px;
  }
}

.application__content {
  padding: 0 20px;
}

/* Переменные */
.catalog__page-header {
  margin-bottom: 27px;
}
@media (min-width: 768px) {
  .catalog__page-header {
    margin-bottom: 64px;
  }
}
@media (min-width: 1280px) {
  .catalog__page-header {
    margin-bottom: 74px;
  }
}

.catalog__main-header {
  margin-bottom: 41px;
}
@media (min-width: 768px) {
  .catalog__main-header {
    margin-bottom: 82px;
  }
}
@media (min-width: 1280px) {
  .catalog__main-header {
    margin-bottom: 84px;
  }
}

.catalog__basic-products {
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .catalog__basic-products {
    margin-bottom: 68px;
  }
}
@media (min-width: 1280px) {
  .catalog__basic-products {
    margin-bottom: 76px;
  }
}

.catalog__additional-products {
  margin-bottom: 35px;
}
@media (min-width: 768px) {
  .catalog__additional-products {
    margin-bottom: 76px;
  }
}
@media (min-width: 1280px) {
  .catalog__additional-products {
    margin-bottom: 86px;
  }
}

/* Глобальные стили */
/* Компоненты */
/* Header и Footer */
/* Блоки */
/* Страницы */
/*# sourceMappingURL=style.css.map */