/* Глобальные стили */
@use "./global/fonts.scss";
@use "./global/global.scss";

/* Компоненты */
@use "./blocks/page.scss";
@use "./blocks/container.scss";
@use "./blocks/button.scss";

/* Компоненты Форм */

@use "./blocks/form-components/form-field.scss";
@use "./blocks/form-components/form-radio.scss";
@use "./blocks/form-components/form-checkbox.scss";
@use "./blocks/form-components/form-textarea.scss";

/* Header и Footer */
@use "./blocks/header-logo.scss";
@use "./blocks/site-menu.scss";
@use "./blocks/menu-toggler.scss";
@use "./blocks/footer-logo.scss";
@use "./blocks/social.scss";
@use "./blocks/copyright.scss";
@use "./blocks/page-header.scss";
@use "./blocks/page-footer.scss";

/* Блоки */
@use "./blocks/promo.scss";
@use "./blocks/programs.scss";
@use "./blocks/about-product.scss";
@use "./blocks/achievement-list.scss";
@use "./blocks/comparison-slider.scss";
@use "./blocks/example.scss";
@use "./blocks/contacts.scss";
@use "./blocks/main-header.scss";
@use "./blocks/secondary-title.scss";
@use "./blocks/application-form.scss";

/* Страницы */
@use "./blocks/home.scss";
@use "./blocks/application.scss";

/* Страница Каталог */
@use "./blocks/catalog/basic-preview.scss";
@use "./blocks/catalog/show-all.scss";
@use "./blocks/catalog/basic-products.scss";
@use "./blocks/catalog/additional-preview.scss";
@use "./blocks/catalog/catalog-gift.scss";
@use "./blocks/catalog/additional-products.scss";
@use "./blocks/catalog/catalog.scss";
