/* Глобальные стили */
@use "./global/fonts.scss";
@use "./global/global.scss";

/* Компоненты */
@use "./blocks/page.scss";
@use "./blocks/container.scss";
@use "./blocks/button.scss";

/* Header и Footer */
@use "./blocks/header-logo.scss";
@use "./blocks/site-menu.scss";
@use "./blocks/menu-toggler.scss";
@use "./blocks/social.scss";
@use "./blocks/copyright.scss";
@use "./blocks/page-header.scss";
@use "./blocks/page-footer.scss";

/* Блоки */
@use "./blocks/promo.scss";
@use "./blocks/programs.scss";
@use "./blocks/about-product.scss";
@use "./blocks/example.scss";
@use "./blocks/contacts.scss";
@use "./blocks/main-header.scss";
@use "./blocks/application-form.scss";
@use "./blocks/basic-preview.scss";
@use "./blocks/show-all.scss";
@use "./blocks/basic-products.scss";
@use "./blocks/additional-preview.scss";
@use "./blocks/additional-products.scss";

/* Страницы */
@use "./blocks/home.scss";
@use "./blocks/application.scss";
@use "./blocks/catalog.scss";
